@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    font-family: "Noto Sans KR", sans-serif;
    color:#000;
    box-sizing: border-box;
    outline:none;
    } /*기본 폰트 및 폰트색상, 박스 경계선 기준, input태그 아웃라인 제거 설정*/

/*스타일 초기화 s*/
html {
    font-size:13px; /*13px=1rem*/
    background: #f8f8f8;
}
body {
    margin: 0 auto; /*상하 여백은 0, 가로 여백은 자동 조절*/
    max-width: 720px;
    min-width: 360px; /*가로길이: 최대 720px, 최소 360px*/
    background: #FFF;
}
ul, ol, dl, dt, dd {
    margin:0;
    padding:0;
} /*태그가 가진 기본 여백 제거*/
ul, ol {list-style:none;} /*리스트 글머리 기호 제거*/
a {text-decoration: none;} /*하이퍼링크 밑줄 제거*/
img {border:0;} /*이미지 경계선 제거*/
/*스타일 초기화 e*/


/*공통 스타일 s*/
.montserrat {
    font-family: "Noto Sans KR", sans-serif;
}
/*공통 스타일 e*/


/*header section s*/
header .site-top {
    display: flex;
    justify-content: space-between; /*아이콘 좌우 끝 정렬*/
    align-items: center; /*아이콘 상하 중앙 정렬*/
    height: 66px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 15px; /*좌우 여백만 설정*/
}
header .logo img {
    height: 34px; /* 이미지 높이 지정하면 너비는 자동 조절*/
}
header .site-top i {font-size:2rem;} /* 아이콘 크기, 옆 여백 설정*/
header .site-top .left i {margin-right:10px;} 
header .site-top .right i {margin-left:10px;}
header nav {
    display: flex;
    height: 44px;
}
header nav a {
    width:0;
    flex-grow: 1; /*균등분할*/
    text-align: center; /*텍스트 가운데 정렬*/
    line-height: 44px; /*높이와 동일하게 설정하면 정중앙 정렬*/
} 
/*header section e*/

/*main banner s*/
.main_banner img {
    width: 100%; /*배너 이미지 가득 채우기*/
}
/*main banner e*/

/*sub menu s*/
.sub-menus {
    display: flex;
    flex-wrap: wrap
}
.sub-menus a {
    width:calc(100% / 3); /*너비 삼등분*/
    text-align: center;
    height: 50px;
    line-height: 50px;
}
/*sub menu e*/